server/resources/SeqPatternMiner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.seqmining.d2i.indiana.edu" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://webservice.seqmining.d2i.indiana.edu" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ax21="http://webservice.seqmining.d2i.indiana.edu/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.seqmining.d2i.indiana.edu/xsd">
			<xs:complexType name="Parameter">
				<xs:sequence>
					<xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Figure">
				<xs:sequence>
					<xs:element minOccurs="0" name="content" nillable="true" type="xs:base64Binary"/>
					<xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.seqmining.d2i.indiana.edu" xmlns:ax22="http://webservice.seqmining.d2i.indiana.edu/xsd">
			<xs:import namespace="http://webservice.seqmining.d2i.indiana.edu/xsd"/>
			<xs:element name="seqPatternMiningParaView">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="paras" nillable="true" type="ax21:Parameter"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="seqPatternMiningParaViewResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="seqPatternMining">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="paras" nillable="true" type="ax21:Parameter"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="seqPatternMiningResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax21:Figure"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="seqPatternMiningRequest">
    <wsdl:part name="parameters" element="ns:seqPatternMining">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="seqPatternMiningParaViewResponse">
    <wsdl:part name="parameters" element="ns:seqPatternMiningParaViewResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="seqPatternMiningResponse">
    <wsdl:part name="parameters" element="ns:seqPatternMiningResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="seqPatternMiningParaViewRequest">
    <wsdl:part name="parameters" element="ns:seqPatternMiningParaView">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SeqPatternMinerPortType">
    <wsdl:operation name="seqPatternMiningParaView">
      <wsdl:input message="ns:seqPatternMiningParaViewRequest" wsaw:Action="urn:seqPatternMiningParaView">
    </wsdl:input>
      <wsdl:output message="ns:seqPatternMiningParaViewResponse" wsaw:Action="urn:seqPatternMiningParaViewResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seqPatternMining">
      <wsdl:input message="ns:seqPatternMiningRequest" wsaw:Action="urn:seqPatternMining">
    </wsdl:input>
      <wsdl:output message="ns:seqPatternMiningResponse" wsaw:Action="urn:seqPatternMiningResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SeqPatternMinerSoap11Binding" type="ns:SeqPatternMinerPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="seqPatternMiningParaView">
      <soap:operation soapAction="urn:seqPatternMiningParaView" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seqPatternMining">
      <soap:operation soapAction="urn:seqPatternMining" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeqPatternMinerSoap12Binding" type="ns:SeqPatternMinerPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="seqPatternMiningParaView">
      <soap12:operation soapAction="urn:seqPatternMiningParaView" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seqPatternMining">
      <soap12:operation soapAction="urn:seqPatternMining" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SeqPatternMinerHttpBinding" type="ns:SeqPatternMinerPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="seqPatternMiningParaView">
      <http:operation location="seqPatternMiningParaView"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seqPatternMining">
      <http:operation location="seqPatternMining"/>
      <wsdl:input>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SeqPatternMiner">
    <wsdl:port name="SeqPatternMinerHttpSoap11Endpoint" binding="ns:SeqPatternMinerSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/SeqPatternMiner"/>
    </wsdl:port>
    <wsdl:port name="SeqPatternMinerHttpEndpoint" binding="ns:SeqPatternMinerHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/SeqPatternMiner"/>
    </wsdl:port>
    <wsdl:port name="SeqPatternMinerHttpSoap12Endpoint" binding="ns:SeqPatternMinerSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/SeqPatternMiner"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
